<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="init(title,links,scripts)">
    <title th:replace="${title}"></title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/bootstrap.min.css}">
    <link rel="stylesheet" href="/css/metisMenu.min.css" th:href="@{/bootstrap/metisMenu/metisMenu.min.css}">
    <link rel="stylesheet" th:href="@{/bootstrap/font-awesome/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/css/sb-admin-2.min.css}">
    <link rel="stylesheet" th:href="@{/css/site.css}">
    
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    
    <script th:src="@{/bootstrap/bootstrap.min.js}"></script>
    <script th:src="@{/js/bootstrap-notify.js?v=1}"></script>
    <script th:src="@{/bootstrap/metisMenu/metisMenu.min.js}"></script>
    
    
    <link th:href="@{/bootstrap/select/bootstrap-select.min.css}" rel="stylesheet">
    <script th:src="@{/static/bootstrap/select/bootstrap-select.min.js}"></script>
    
    <script th:src="@{/js/global.js?v=1}"></script>
    <script th:src="@{/js/login.js}"></script>
    <script th:src="@{/js/sb-admin-2.js}"></script>

    <th:block th:replace="${links}"/>
    <th:block th:replace="${scripts}"/>
</head>
</html>