<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragment/head :: common_header(~{::title},~{::link},~{::script})">
    <title>RMS</title>
    <link rel="stylesheet" href="">
    <script th:src="@{/js/admin/dept.js}"></script>
</head>
<body>
<div id="wrapper">
    <div th:replace="fragment/menu :: menu"></div>
    <div id="page-wrapper">
        <div class="container-fluid" style="padding-bottom: 15px; padding-top: 15px;">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">Administration</li>
                <li class="breadcrumb-item">Data Table</li>
                <li class="breadcrumb-item"><a th:href="@{/dept/viewDeptList}">Department</a></li>
                <li class="breadcrumb-item active">Update Department</li>
            </ol>
            <form th:object="${deptInfo}">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-fw fa-id-card-o"></i> Department Information
                    </div>
                    <div class="panel-body">
                        <div class="form-group row">
                            <div class="col-xs-4">
                                <label>Department ID</label>
                                <input type="hidden" th:field="*{deptId}">
                                <p class="form-control-static" th:text="*{deptId}"></p>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-xs-4">
                                <label >Description</label>
                                <input type="text" th:field="*{deptName}"  class="form-control" maxlength="50">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <input class="btn btn-primary" type="button" value="Update" onclick="updDept(this.form)">
                    <input class="btn" type="reset" value="Reset">
                    <a th:href="|@{/dept/view/}*{deptId}|" class="btn btn-primary">Back</a>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>l